body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 100vw;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
img{
    max-width: 100%;
}